<template>
  <div>
    <div>
      <input v-model="form.inn" type="text" />
      <button @click="addLink">Отправить</button>
    </div>
  </div>
</template>

<script>
import { Socket } from "phoenix-socket";
export default {
  name: "Form",
  mounted() {
    let socket = new Socket("ws://localhost:4000/socket");
    socket.connect();

    this.channel = socket.channel("inn_channel:lobby", {});
    this.channel
      .join()
      .receive("ok", resp => {
        console.log("Form Joined successfully", resp);
      })
      .receive("error", resp => {
        console.log("Form Unable to join", resp);
      });
  },
  data() {
    return {
      form: {
        inn: ""
      }
    };
  },
  methods: {
    addLink: function() {
      this.channel
        .push("shout", { inn: this.form.inn })
        .receive("locked", resp => {
          alert("Мы вычислили вас по айпи");
        });
      this.form.inn = "";
    }
  }
};
</script>
